[submodule "sparse_devel"]
	path = sparse_devel
	url = git://git.kernel.org/pub/scm/devel/sparse/chrisl/sparse
[submodule "predator-origin"]
	path = predator-origin
	url = https://github.com/kdudka/predator.git
[submodule "predator"]
	path = predator
	url = https://github.com/jpokorny/predator.git
