[submodule "clsp/dep-sparse"]
	path = clsp/dep-sparse
	url = https://git.kernel.org/pub/scm/devel/sparse/chrisl/sparse.git
[submodule "clsp/dep-predator"]
	path = clsp/dep-predator
	url = https://github.com/kdudka/predator.git
